.hero_wrapper {
    height: 500px;
    overflow: hidden;

    & .container {
        max-width: 1170px;
        margin: 0 auto;

        & .hero_con {
            display: flex;
            justify-content: space-between;
            margin-top: 115px;

            & .hero_info {

                & .text_1 {
                    font-size: 32px;
                }

                & .text_2 {
                    font-size: 64px;
                    font-weight: bold;
                    color: #0085ff;
                }

                & .text_3 {
                    font-size: 32px;
                }

                & .text_4 {
                    font-size: 16px;
                    margin-top: 25px;

                    & li{
                        list-style: none;
                    }
                }

                & .hero_social {
                    display: flex;
                    margin-top: 25px;

                    & li {
                        list-style: none;
                        margin-right: 10px;

                        & svg {
                            width: 32px;
                            height: 32px;
                            color: #333;
                        }
                    }
                }
            }

            & .hero_img {
                width: 300px;
                height: 300px;
                border-radius: 100%;
                background-image: url('https://media.licdn.com/dms/image/C5103AQF9gWhHnIQNlA/profile-displayphoto-shrink_200_200/0/1516885613437?e=1714608000&v=beta&t=JoJ0H64hBLD8YdayemW-nH5NW-on4AR-i55CThWCnV0');
                background-size: cover;
                background-position: center;
                margin-right: 120px;
            }
        }

    }
}

@media screen and (max-width: 480px) {
    .hero_wrapper {
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;
            padding: 20px;

            & .hero_info,
            & .hero_img {
                width: 100%;
            }
        }

    }
}